button{
    min-width: 10vw;
    padding: 1vw;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    flex-direction: column;
}
main span{
    font-size: 3vw;
}
.news-categories{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}